.Calculadora{
    
    margin-bottom: 20px;
    font-size: 3rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.configBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha{
    display: flex;
    margin-top: 5px;
}
button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffa1e1;
    color: rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(255, 0, 195);


}

.Limpar{
    width: 120px;
}background-color: rgb(255, 0, 149);
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 1px solid rgb(255, 91, 222);
    background-image: linear-gradient(rgb(255, 0, 195),rgb(255, 0, 195));
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
 }/*Fechamento calculadora*/

.tela{  
    background-color: #ffa1e1;
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border: 3px solid rgb(53, 0, 58);
    padding: 10px;