body{
    /*Estilos referentes ao compo do html*/
    background-color: rgb(252, 69, 252);
    font-family: verdana,sans-serif;
    color: rgba(89, 0, 97, 1);
}

h1{
    text-align: center;
    color:;
    margin-top: 80px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

li{
    margin:10px;
}

a{
    display: block;
    test-aling:center;
    color:rgba(89, 0, 97, 1);
    background-color: rgb(255, 132, 241);
    padding: 10PX 15PX;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}