.erro{
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(0, 0, 0);
    font-size: 1;
    color:rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.entrada{
    opacity: 1;
}

body{
    font-family: verdana, sans-serif;
}
#app{
    max-width: 500px;
    background-color: rgb(255, 151, 255);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 2px 15px rgb(255, 179, 230);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    background-color: rgb(255, 177, 254);
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input[type="text"], input[type="password"]{
    padding: 13px;
    border-radius: 10px;
    /* border: none; */
   
    /* border-style: solid; */
    /* border-color:solid deeppink; */

    margin-bottom: 10px;
    font-size: 1.1rem;

    
}
input[type="text"]{
    /* width: 400px; */
    width: 80%;
}

input[type="password"]{
    /* width:250px; */
    width:60%;
}

button{
    padding: 10px;
    background-color: rgb(243, 153, 253);
    color:rgb(0, 0, 0);
    border-style: rgb(255, 117, 218);
    border-color: rgb(0, 0, 0);
    border-radius: 10px;

    cursor: pointer;
    font-size: 1.2rem;
    min-width: 20%;
}

button:hover{
    background-color: rgb(230, 0, 255);
}