.erro{
    color:rgb(239, 0, 0);
    font-size: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(0, 255, 72);
    font-size: 1;
    color:rgb(0, 167, 44);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.entrada{
    opacity: 1;
}