.erro{
    color:red
    font-size: 1.
    5sem;
}
.sucesso{
    color:green
    font-size: 1.
    color:green;
}

body{
    font-family: verdana, sans-serif;
}
#app{
    max-width: 500px;
    background-color: rgb(251, 116, 199);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 2px 15px rgb(244, 106, 198);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    background-color: rgb(255, 148, 226);
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input[type="text"], input[type="password"]{
    padding: 13px;
    border-radius: 10px;
    /* border: none; */
   
    /* border-style: solid; */
    /* border-color:solid deeppink; */

    margin-bottom: 10px;
    font-size: 1.1rem;

    
}
input[type="text"]{
    /* width: 400px; */
    width: 80%;
}

input[type="password"]{
    /* width:250px; */
    width:60%
}

button{
    padding: 10px;
    background-color: rgb(248, 110, 211);
    color:rgb(248, 0, 182);
    border-style: rgb(248, 0, 182);
    border-color: rgb(248, 0, 182);
    border-radius: 10px;

    cursor: pointer;
    font-size: 1.2rem;
    min-width: 20%;
}

    button:hover{
        background-color: rgb(248, 0, 182);
    }