.erro{
    color:red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}